name: Static Analysis

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  clang-tidy:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
      
    - name: Setup LLVM
      run: |
        choco install llvm -y
      shell: powershell
        
    - name: Analyze framework code
      run: |
        "C:\Program Files\LLVM\bin\clang-tidy" examples/test1.cpp --checks="-*,performance-*,modernize-use-nullptr" --header-filter=".*lockless.*" -- -std=c++17 -I include
      shell: cmd
      continue-on-error: true